<% @page_title = "Edit #{@provider.name}" %>

<% content_for :nav do %>
  <div class="flex-item-justify-start">
    <%= link_back_to admin_identity_provider_path(@provider) %>
  </div>
<% end %>

<section class="panel panel--wide flex flex-column gap">
  <div class="pad-inline pad-block-start">
    <h1 class="margin-none">Edit <%= @provider.name %></h1>
  </div>

  <div class="pad-inline pad-block">
    <%= render "form", provider: @provider %>
  </div>
</section>
